@page
@using RecipeKeeper.Data.Models;
@model IndexModel
@{
	ViewData["Title"] = "Home page";

	var db = new thisDb();
}

<div class="text-center">
	<div class="row">
		<h2>Search</h2>
		<form method="post">
			<label for="recipeType">Type: </label>
			<select asp-for="recipeType">
				@foreach (var rt in db.RecipeCategory.ToList())
				{
					<option value="@rt.Id">@rt.Name</option>
				}
			</select>

			<input type="text" asp-for="searchText" placeholder="Optional..." />

			<input type="submit" />

		</form>
	</div>

	@if (ViewData["RecipeSearchResults"] != null)
	{
		List<Recipe> Recipes = (List<Recipe>)ViewData["RecipeSearchResults"];
		<hr />
		<br />
		<div class="row align-items-center gy-3">
			
			<h2>Results</h2>
			@foreach (Recipe r in Recipes)
			{
				<div class="col-md-6">
					<div class="card" >
						<div class="card-body">
							<h5><a class="stretched-link" href="/Administration/ViewRecipe/@r.Id">@r.Name</a></h5>
							<p class="card-text">@r.Description</p>
						</div>
					</div>
				</div>
			}
		   
		</div>
	}
	

</div>
