@page
@using RecipeKeeper.Data.Models;
@model RecipeKeeper.Areas.Administration.Pages.IngredientCategoriesModel
@{
}

<h1>Ingredient Categories</h1>
<hr />
<a asp-area="administration" asp-page="/addIngredientCategory">Add</a>

<table class="table">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>

	@foreach (IngredientCategory item in (List<IngredientCategory>)ViewData["IngredientCategoryList"])
	{
		bool isThisICUsed = (from x in (List<int>)ViewData["IngredientCategoryIDsInUse"]
							where x == item.Id
							select x).Any();

		<tr>
			<td>@item.Id</td>
			<td>@item.Name</td>
			<td>
				<a href="/Administration/EditIngredientCategory/@item.Id" type="button" class="btn btn-info">Edit</a>
			</td>
			<td>
				@if (isThisICUsed == false)
				{
					<form method="post">
						<input type="hidden" value="@item.Id" name="icid" />
						<button asp-page-handler="delete" type="submit" class="btn btn-danger">Delete</button>
					</form>
				}
				@*
				//TODO redo this form as a link 
				*@
			</td>
		</tr>
	}
</table>

<p>*Cannot delete Ingredient Categories that are in use by an Ingredient.</p>