@page
@using RecipeKeeper.Data.Models;
@model RecipeKeeper.Areas.Administration.Pages.RecipesModel
@{
}
<h1>Recipe</h1>
<hr />

<a asp-area="administration" asp-page="/addRecipe">Add</a>

<table class="table">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Description</th>
		<th></th>
	</tr>

	@foreach (Recipe i in (List<Recipe>)ViewData["Recipes"])
	{
		<tr>
			<td>@i.Id</td>
			<td>@i.Name</td>
			<td>@i.Description</td>
			<td><a href="/Administration/EditRecipe/@i.Id" type="button" class="btn btn-info">Edit</a></td>
			<td>
				<form method="post">
					<input type="hidden" value="@i.Id" name="recipeId" />
					<button asp-page-handler="delete" type="submit" class="btn btn-danger">Delete</button>
				</form>
			</td>
		</tr>
	}
</table>